/*
###################################################################################
Universal Editor Stylesheet for Typesetter CMS developer plugin - 'Custom Sections'
Author: J. Krausz and a2exfr
Date: 2016-12-12
Version 1.0b2
###################################################################################
*/

:invalid {
outline:1px solid #F2664B!important;
outline-offset:-4px!important;
}

.no-margin{
margin:0!important;
}

/* EDITOR */

#option_area,
#option_area * {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;
}

.editor-ctl-box {
display:block;
position:relative;
overflow:hidden;
background:#fff;
border:1px solid rgba(0,0,0,0.25);
border-radius:3px;
margin:3px 0 0;
vertical-align:baseline;
color:#555;
}

.editor-ctl-box.ctl-box-half-width { 
float:left;
width:48%!important; 
}
.editor-ctl-box.ctl-box-half-width + .editor-ctl-box.ctl-box-half-width{
margin-left:4%;
}

.editor-ctl-box label {
position:relative;
}

.editor-ctl-box button,
.editor-ctl-box.editor-ctl-checkbox label,
.editor-ctl-box.editor-ctl-radio-group label:not(:first-child),
.editor-ctl-box.editor-ctl-link-field label:not(:first-child) {
cursor:pointer;
}

.editor-ctl-box.editor-ctl-link-field label:last-child {
border-top:1px solid rgba(0,0,0,0.125);
}

.editor-ctl-box.editor-ctl-input span.label-text,
.editor-ctl-box.editor-ctl-select span.label-text,
.editor-ctl-box.editor-ctl-textarea span.label-text,
.editor-ctl-box.editor-ctl-datepicker span.label-text,
.editor-ctl-box.editor-ctl-clockpicker span.label-text,
.editor-ctl-box.editor-ctl-colorpicker span.label-text,
.editor-ctl-box.editor-ctl-datetime-combo>label:first-child span.label-text,
.editor-ctl-box.editor-ctl-link-field>label:first-child span.label-text,
.editor-ctl-box.editor-ctl-radio-group>label:first-child span.label-text,
.editor-ctl-box.editor-ctl-multi-img>label:first-child span.label-text,
.editor-ctl-box.editor-ctl-multi-date>label:first-child span.label-text {
display:block;
border-bottom:1px solid rgba(0,0,0,0.125);
background:#f8f8f8;
padding:4px;
color:#555;
}


.editor-ctl-box.editor-ctl-missing span.label-text {
display:block;
background:#EDB442;
padding:4px;
color:#7F3300;
}

.editor-ctl-box input[type="color"],
.editor-ctl-box input[type="date"],
.editor-ctl-box input[type="datetime"],
.editor-ctl-box input[type="datetime-local"],
.editor-ctl-box input[type="email"],
.editor-ctl-box input[type="number"],
.editor-ctl-box input[type="month"],
.editor-ctl-box input[type="password"],
.editor-ctl-box input[type="range"],
.editor-ctl-box input[type="search"],
.editor-ctl-box input[type="tel"],
.editor-ctl-box input[type="text"],
.editor-ctl-box input[type="time"],
.editor-ctl-box input[type="url"],
.editor-ctl-box input[type="week"],
.editor-ctl-box select,
.editor-ctl-box button,
.editor-ctl-box textarea {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;
box-shadow:none;
background-color:none;
border:none;
padding:4px 6px;
width:100%!important;
}

.editor-ctl-box button {
background:#f1f1f1;
background:-moz-linear-gradient(top, #fff 0%, #f1f1f1 100%);
background:-webkit-linear-gradient(top, #fff 0%,#f1f1f1 100%);
background:linear-gradient(to bottom, #fff 0%,#f1f1f1 100%);
color:#555;
}

.editor-ctl-box select {
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
background:transparent url(img/select_arr.png) right center no-repeat;
background-size:22px 16px;
padding:4px 26px 4px 0;
}

.editor-ctl-box select::-ms-expand { display:none; }

.editor-ctl-box textarea {
white-space:normal;
word-wrap:break-all;
word-wrap:break-word;
min-height:4em;
resize:vertical;
overflow-y:auto;
height:8em;
}

.editor-ctl-box input[type='checkbox'],
.editor-ctl-box input[type='radio'] {
margin:6px;
}

.editor-ctl-box input[type='checkbox'],
.editor-ctl-box input[type='radio'] {
margin-left:-20px;
}

.editor-ctl-box input[type='checkbox'] + span,
.editor-ctl-box input[type='radio'] + span {
font-family:FontAwesome!important;
display:inline-block;
margin:0 2px 0 6px;
}
.editor-ctl-box input[type='checkbox'] + span {
font-size:120%!important;
}

.editor-ctl-box input[type='checkbox'] + span:before { 
content:"\f204"; 
}
.editor-ctl-box input[type='checkbox']:checked + span:before { 
content:"\f205"; 
}

.editor-ctl-box input[type='radio'] + span:before { 
content:"\f1db"; 
}
.editor-ctl-box input[type='radio']:checked + span:before { 
content:"\f111"; 
}

.editor-ctl-box input:disabled,
.editor-ctl-box select:disabled {
color:#ccc;
background:none;
}

.editor-ctl-box label {
margin:0;
display:inline-block;
width:100%!important;
}
.editor-ctl-box label.ctl-half-width { width:50%!important; }
.editor-ctl-box label.ctl-third-width { width:33.333%!important; }

.editor-ctl-box label.has-icon {
padding-left:24px;
}

.editor-ctl-box.editor-ctl-link-field input[type='text'] {
display:inline-block;
width:85%!important;
overflow:hidden;
text-overflow:ellipsis;
}

.editor-ctl-box.editor-ctl-link-field button {
display:inline-block;
width:15%!important;
border-left:1px solid rgba(0,0,0,0.125);
}

/* multi-image */
.editor-ctl-box.editor-ctl-multi-img .multi-img-list {
display:block;
max-height:224px;
margin:0;
padding:3px 0 0 3px;
overflow-y:scroll;
border-bottom:1px solid rgba(0,0,0,0.125);
}
.editor-ctl-box.editor-ctl-multi-img .multi-img-list li {
display:block;
width:56px;
height:56px;
background-color:#ccc;
background-position:center center;
background-size:cover;
float:left;
position:relative; 
padding:3px 0 0 3px;
margin:0 3px 3px 0;
cursor:move;
border-radius:3px;
}
.editor-ctl-box.editor-ctl-multi-img .multi-img-list li .remove-img-btn {
display:block;
position:absolute;
top:3px;
right:3px;
width:20px;
height:20px;
line-height:20px!important;
text-align:center;
background:rgba(255,255,255,0.33);
border-radius:10px;
cursor:pointer;
}
.editor-ctl-box.editor-ctl-multi-img .multi-img-list li:hover .remove-img-btn {
background:rgba(255,255,255,1);
box-shadow:0 0 2px #000;
}


/* multi-date */
.editor-ctl-box.editor-ctl-multi-date a.multi-date-sort {
display:block;
position:absolute;
top:4px;
right:4px;
height:18px;
width:18px;
font-family:"FontAwesome"!important;
cursor:pointer;
}
.editor-ctl-box.editor-ctl-multi-date a.multi-date-sort:before,
.editor-ctl-box.editor-ctl-multi-date a.multi-date-sort:after {
display:block;
position:absolute;
top:0;
left:0;
height:18px;
width:18px;
line-height:18px;
text-align:center;
}
.editor-ctl-box.editor-ctl-multi-date a.multi-date-sort:before {
content:"\f0dc";
color:#aaa;
}
.editor-ctl-box.editor-ctl-multi-date a.multi-date-sort-asc:after {
content:"\f0de";
color:#555;
}
.editor-ctl-box.editor-ctl-multi-date a.multi-date-sort-desc:after {
content:"\f0dd";
color:#555;
}

.editor-ctl-box.editor-ctl-multi-date .multi-date-list {
display:block;
max-height:224px;
margin:0;
padding:3px 0 0 3px;
overflow-y:scroll;
border-bottom:1px solid rgba(0,0,0,0.125);
}
.editor-ctl-box.editor-ctl-multi-date .multi-date-list li {
display:block;
width:32px;
height:32px;
background-color:rgba(0,0,0,0.125);
float:left;
position:relative; 
padding:0;
margin:0 3px 3px 0;
cursor:move;
border:1px solid #ccc;
border-radius:3px;
overflow:hidden;
}
.editor-ctl-box.editor-ctl-multi-date .multi-date-list li.multi-date-updated-item {
box-shadow:inset 0 0 12px #E9CF5F, inset 0 0 12px #E9CF5F;
}
.editor-ctl-box.editor-ctl-multi-date .multi-date-list li div.multi-date-day {
margin:0;
padding:0;
text-align:center;
line-height:20px!important;
font-size:18px!important;
}
.editor-ctl-box.editor-ctl-multi-date .multi-date-list li div.multi-date-month {
margin:0;
padding:0;
text-align:center;
line-height:12px!important;
font-size:10px!important;
background:rgba(0,0,0,0.125);
}
.editor-ctl-box.editor-ctl-multi-date .multi-date-list li .edit-date-btn,
.editor-ctl-box.editor-ctl-multi-date .multi-date-list li .remove-date-btn {
display:none;
position:absolute;
bottom:0;
width:16px;
height:16px;
line-height:16px!important;
text-align:center;
background:rgba(255,255,255,0.33);
cursor:pointer;
}
.editor-ctl-box.editor-ctl-multi-date .multi-date-list li .remove-date-btn {
right:0;
}
.editor-ctl-box.editor-ctl-multi-date .multi-date-list li .edit-date-btn {
left:0;
}
.editor-ctl-box.editor-ctl-multi-date .multi-date-list li:hover .edit-date-btn,
.editor-ctl-box.editor-ctl-multi-date .multi-date-list li:hover .remove-date-btn {
display:block;
background:rgba(255,255,255,1);
}
.editor-ctl-box.editor-ctl-multi-date .multi-date-list li:only-child .remove-date-btn {
display:none!important; /* we need at least one date */
}

.editor-ctl-box.editor-ctl-multi-date .multi-date-list li .multi-date-values {
display:none;
}

#gp_admin_boxc div#admin_box-date-values {
margin-top:1em;
}
#gp_admin_boxc div#admin_box-date-values label {
clear:both;
margin:6px 0;
padding:0 0 6px 0;
border-bottom:1px solid #eee;
}
#gp_admin_boxc div#admin_box-date-values label span.label-text {
display:inline-block;
padding:4px 0;
width:200px;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
vertical-align:bottom;
}


/* # JQUERY UI DATEPICKER - OVERRIDES # */
div.ui-datepicker {
font-size:11px!important;
}
div.ui-datepicker.ui-widget {
font-family:inherit;
font-size:inherit;
margin-top:2px;
box-shadow:0 2px 3px rgba(0,0,0,0.33);
max-width:180px;
}
div.ui-datepicker.ui-widget:before,
div.ui-datepicker.ui-widget:after {
content:'';
display:block;
position:absolute;
top:-10px;
left:8px;
width:0;
height:0;
border:5px solid #aaa;
border-top-color:transparent;
border-right-color:transparent;
border-left-color:transparent;
}

div.ui-datepicker.ui-widget:after {
top:-9px;
border-bottom-color:#fff;
}
div.ui-datepicker-header.ui-widget-header {
background:none;
border:none;
color:inherit;
}
div.ui-datepicker .ui-state-default, 
div.ui-datepicker .ui-state-hover, 
div.ui-datepicker .ui-state-focus {
background:none;
border:none;
color:inherit;
top:2px;
}
a.ui-datepicker-prev .ui-icon.ui-icon-circle-triangle-w,
a.ui-datepicker-next .ui-icon.ui-icon-circle-triangle-e {
position:relative;
background:none;
cursor:pointer;
}
a.ui-datepicker-prev .ui-icon.ui-icon-circle-triangle-w:before,
a.ui-datepicker-next .ui-icon.ui-icon-circle-triangle-e:before {
font-family:"FontAwesome"!important;
font-weight:normal!important;
position:absolute;
text-indent:0;
left:4px;
top:0;
font-size:12px!important;
}
a.ui-datepicker-prev .ui-icon.ui-icon-circle-triangle-w:before {
content:"\f053";
}
a.ui-datepicker-next .ui-icon.ui-icon-circle-triangle-e:before {
content:"\f054";
}


