/* #### custom styles for demo section type 'debug_dummy' ### */

.filetype-debug_dummy { 
text-align:center; 
padding:4em; 
background:#E5B906 url(img/dummy.png) 75% center no-repeat; 
background-size:contain;
}
